/*
 * zerotiercentralapi_lib
 *
 * This file was automatically generated by APIMATIC v2.0 ( https://apimatic.io )
 */
package generalqueries_pkg


import(
	"encoding/json"
	"zerotiercentralapi_lib/models_pkg"
	"github.com/apimatic/unirest-go"
	"zerotiercentralapi_lib"
	"zerotiercentralapi_lib/apihelper_pkg"
)
/*
 * Client structure as interface implementation
 */
type GENERALQUERIES_IMPL struct { }

/**
 * Get Status and Configuration Information
 * @return	Returns the *models_pkg.Status response from the API call
 */
func (me *GENERALQUERIES_IMPL) GetStatusAndConfigurationInformation () (*models_pkg.Status, error) {
        //the base uri for api requests
    _queryBuilder := zerotiercentralapi_lib.BASEURI;

    //prepare query string for API call
   _queryBuilder = _queryBuilder + "/api/status"

    //variable to hold errors
    var err error = nil
    //validate and preprocess url
    _queryBuilder, err = apihelper_pkg.CleanUrl(_queryBuilder)
    if err != nil {
        //error in url validation or cleaning
        return nil, err
    }

    //prepare headers for the outgoing request
    headers := map[string]interface{} {
        "user-agent" : "APIMATIC 2.0",
        "accept" : "application/json",
    }

    //prepare API request
    _request := unirest.GetWithAuth(_queryBuilder, headers, zerotiercentralapi_lib.Config.BasicAuthUserName, zerotiercentralapi_lib.Config.BasicAuthPassword)
    //and invoke the API call request to fetch the response
    _response, err := unirest.AsString(_request);
    if err != nil {
        //error in API invocation
        return nil, err
    }

    //error handling using HTTP status codes
    if (_response.Code < 200) || (_response.Code > 206) { //[200,206] = HTTP OK
        err = apihelper_pkg.NewAPIError("HTTP Response Not OK" , _response.Code, _response.RawBody)
    }
    if(err != nil) {
        //error detected in status code validation
        return nil, err
    }

    //returning the response
    var retVal *models_pkg.Status = &models_pkg.Status{}
    err = json.Unmarshal(_response.RawBody, &retVal)

    if err != nil {
        //error in parsing
        return nil, err
    }
    return retVal, nil
}

/**
 * Get Currently Authenticated User
 * @return	Returns the string response from the API call
 */
func (me *GENERALQUERIES_IMPL) GetCurrentlyAuthenticatedUser () (string, error) {
        //the base uri for api requests
    _queryBuilder := zerotiercentralapi_lib.BASEURI;

    //prepare query string for API call
   _queryBuilder = _queryBuilder + "/api/self"

    //variable to hold errors
    var err error = nil
    //validate and preprocess url
    _queryBuilder, err = apihelper_pkg.CleanUrl(_queryBuilder)
    if err != nil {
        //error in url validation or cleaning
        return "", err
    }

    //prepare headers for the outgoing request
    headers := map[string]interface{} {
        "user-agent" : "APIMATIC 2.0",
    }

    //prepare API request
    _request := unirest.GetWithAuth(_queryBuilder, headers, zerotiercentralapi_lib.Config.BasicAuthUserName, zerotiercentralapi_lib.Config.BasicAuthPassword)
    //and invoke the API call request to fetch the response
    _response, err := unirest.AsString(_request);
    if err != nil {
        //error in API invocation
        return "", err
    }

    //error handling using HTTP status codes
    if (_response.Code < 200) || (_response.Code > 206) { //[200,206] = HTTP OK
        err = apihelper_pkg.NewAPIError("HTTP Response Not OK" , _response.Code, _response.RawBody)
    }
    if(err != nil) {
        //error detected in status code validation
        return "", err
    }

    //returning the response
    return _response.Body, nil
}

/**
 * Generate a Random Token
 * @return	Returns the *models_pkg.RandomToken response from the API call
 */
func (me *GENERALQUERIES_IMPL) GetGenerateARandomToken () (*models_pkg.RandomToken, error) {
        //the base uri for api requests
    _queryBuilder := zerotiercentralapi_lib.BASEURI;

    //prepare query string for API call
   _queryBuilder = _queryBuilder + "/api/randomToken"

    //variable to hold errors
    var err error = nil
    //validate and preprocess url
    _queryBuilder, err = apihelper_pkg.CleanUrl(_queryBuilder)
    if err != nil {
        //error in url validation or cleaning
        return nil, err
    }

    //prepare headers for the outgoing request
    headers := map[string]interface{} {
        "user-agent" : "APIMATIC 2.0",
        "accept" : "application/json",
    }

    //prepare API request
    _request := unirest.GetWithAuth(_queryBuilder, headers, zerotiercentralapi_lib.Config.BasicAuthUserName, zerotiercentralapi_lib.Config.BasicAuthPassword)
    //and invoke the API call request to fetch the response
    _response, err := unirest.AsString(_request);
    if err != nil {
        //error in API invocation
        return nil, err
    }

    //error handling using HTTP status codes
    if (_response.Code < 200) || (_response.Code > 206) { //[200,206] = HTTP OK
        err = apihelper_pkg.NewAPIError("HTTP Response Not OK" , _response.Code, _response.RawBody)
    }
    if(err != nil) {
        //error detected in status code validation
        return nil, err
    }

    //returning the response
    var retVal *models_pkg.RandomToken = &models_pkg.RandomToken{}
    err = json.Unmarshal(_response.RawBody, &retVal)

    if err != nil {
        //error in parsing
        return nil, err
    }
    return retVal, nil
}

/**
 * Terminate Current Session
 * @return	Returns the  response from the API call
 */
func (me *GENERALQUERIES_IMPL) CreateTerminateCurrentSession () (error) {
        //the base uri for api requests
    _queryBuilder := zerotiercentralapi_lib.BASEURI;

    //prepare query string for API call
   _queryBuilder = _queryBuilder + "/api/auth/_logout"

    //variable to hold errors
    var err error = nil
    //validate and preprocess url
    _queryBuilder, err = apihelper_pkg.CleanUrl(_queryBuilder)
    if err != nil {
        //error in url validation or cleaning
        return err
    }

    //prepare headers for the outgoing request
    headers := map[string]interface{} {
        "user-agent" : "APIMATIC 2.0",
    }

    //prepare API request
    _request := unirest.PostWithAuth(_queryBuilder, headers, nil, zerotiercentralapi_lib.Config.BasicAuthUserName, zerotiercentralapi_lib.Config.BasicAuthPassword)
    //and invoke the API call request to fetch the response
    _response, err := unirest.AsString(_request);
    if err != nil {
        //error in API invocation
        return err
    }

    //error handling using HTTP status codes
    if (_response.Code < 200) || (_response.Code > 206) { //[200,206] = HTTP OK
        err = apihelper_pkg.NewAPIError("HTTP Response Not OK" , _response.Code, _response.RawBody)
    }
    if(err != nil) {
        //error detected in status code validation
        return err
    }

    //returning the response
    return nil
}

